<div class="app">
    <div class="col-xs-9" id="info-pizza">
        <div class="inf">
                <%= pizza.title %>
                <% if(size == "small_size") { %>
                (Мала)
                <% }else{ %>
                (Велика)
                <% } %>
        </div>

        <div style="color: black" class="col-xs-12" id="size-weight-price">
            <div class="col-xs-3 text-center"><img src="assets/images/size-icon.svg"><%= pizza[size].size %></div>

            <div class="col-xs-3 text-center"><img src="assets/images/weight.svg"><%= pizza[size].weight %></div>
                <h5><b>
                    <div class="col-xs-6" id="pizza-price"><%= pizza[size].price %> грн.</div></b></h5>
        </div>

        <div class="col-xs-12 minus-plus-delete">
            <button type="button" class="minus">-</button>
            <span class="label label-default"><%= quantity %></span>
            <button type="button" class="plus">+</button>
            <button type="button" class="removeB">X</button>
        </div>
    </div>
    <div class="col-xs-3">
        <img id="card-img" src="<%= pizza.icon %>">
    </div>
</div>